body {

padding: 0;
margin: 0;
background-image: url(img/gif01.gif);
background-repeat: no-repeat;

}

.logo {

width: 15%;
height: 1%;
margin-top: 25px;
margin-left: 15px;

}

header {

margin:20px;

}

.botoes {

margin-left: 450px;
font-size: 30px;
font-weight:800;
text-decoration: none;
color: black;
margin-bottom: 40px;
font-family: "ProximaNova","Helvetica","Arial",sans-serif;
border-radius: 15px;
background-color: white;
transition: transform 1.2;
transition-duration: 0.6s;
filter: brightness(100%);
padding: 10px;

}

.botoes:hover {

    background-color: rgb(224, 224, 224);

}


.botao {

font-size: 30px;
margin-left: 70px;
font-weight:800;
text-decoration: none;
color: black;
margin-bottom: 40px;
font-family: "ProximaNova","Helvetica","Arial",sans-serif;
border-radius: 15px;
background-color: white;
transition: transform 1.2;
transition-duration: 0.6s;
filter: brightness(100%);
padding: 10px;

}

.botao:hover {

    background-color: rgb(224, 224, 224);

}

.cta1{

margin-top: 500px;
text-decoration: none;
color: rgb(255, 255, 255);
background-color: rgb(6, 201, 6);
padding: 15px;
border-radius: 5px;
margin-left: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: transform 1.2;
transition-duration: 0.6s;
filter: brightness(100%);

}

.cta1:hover {


filter:brightness(70%)

}

.cta2 {

text-decoration: none;
color: black;
background-color: white;
border: 1px solid black;
padding: 15px;
border-radius: 5px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: transform 1.2;
transition-duration: 0.6s;
filter: brightness(100%);

}

.cta2:hover {


filter:brightness(70%)

}

.conteudo {

background-image: url(img/pesquisa.jpeg);
padding: 300px;
background-repeat: no-repeat;
background-size: 1400px 700px;

}


footer {

margin-top: 240px;
margin-left: 1100px;

}

.fot {

    
width: 15%;
height: 15%;
padding-right: 15px;

}